@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
	font-family: 'Tavares';
	src: url('/assets/fonts/Tavares.ttf');
}

@font-face {
	font-family: 'Galano Grotesque Medium';
	src: url('/assets/fonts/GalanoGrotesqueMedium.otf');
}

@font-face {
	font-family: 'Galano Grotesque Semibold';
	src: url('/assets/fonts/GalanoGrotesqueSemiBold.otf');
}

@font-face {
	font-family: 'Galano Grotesque Regular';
	src: url('/assets/fonts/GalanoGrotesqueRegular.otf');
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	overflow-x: hidden;
}

.voz{
	font-weight: 900;
}
